body {
  background-color: deepskyblue;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
#ausgabe {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 10px;
}
#info {
  color: darkred;
  margin-top: 30px;
}